body {
    background: #f5f5f5;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #3264fe;
    color: white;
}

header > nav {
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
}

header > nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* fim do header */

main {
    padding-top: 20px;
    background-color: pink;
    width: 100vw;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

section{
    background-color: white;
    border-radius: 30px;
    width: 80vw;
    height: 400px;
}



